repos:
- repo: https://github.com/psf/black
  rev: 25.11.0
  hooks:
  - id: black

- repo: https://github.com/PyCQA/isort
  rev: 6.1.0
  hooks:
  - id: isort

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.0
  hooks:
  - id: mypy
    additional_dependencies:
    - pyspnego
    - types-PyYAML
    - types-requests
