asyncssh
black == 23.1.0
build
gssapi ; sys_platform != 'win32'
krb5 ; sys_platform != 'win32'
httpx[socks]
isort == 5.11.5
mypy == 1.0.1
pre-commit
psutil
pytest
pytest-asyncio
pytest-cov
pytest-mock
PyYAML
requests-credssp
tox
types-cryptography
types-dataclasses ; python_version < "3.7"
types-requests
types-psutil
types-PyYAML
typing_extensions ; python_version < "3.8"
xmldiff