# Latest versions supported by Python 2.6
gssapi < 1.6.0 ; python_version < "2.7"
idna < 2.8 ; python_version < "2.7"
lxml <= 4.3.5 ; python_version < "2.7"
pycparser <= 2.18 ; python_version < "2.7"
pytest == 3.2.5 ; python_version < "2.7"
PyYAML == 3.13 ; python_version < "2.7"

# Latest versions supported by Python 3.4
lxml <= 4.3.0 ; python_version == "3.4"

# Other constraints
pytest >= 3.6 ; python_version > "2.7"  # Make sure other Python versions use a newer version of pytest
