name: Test pypsrp
on:
  push:
    branches:
    - master

  pull_request:
    branches:
    - master

  release:
    types:
    - published

jobs:
  build:
    name: build library
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-python@v6
      with:
        python-version: 3.13

    - name: build sdist and wheel
      run: |
        python -m pip install build
        python -m build --sdist --wheel

    - uses: actions/upload-artifact@v5
      with:
        name: artifact
        path: ./dist/*

  test:
    name: test
    needs:
    - build
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        - windows-latest
        python-version:
        - '3.10'
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.14'
        python-arch:
        - x86
        - x64

        exclude:
        - os: ubuntu-latest
          python-arch: x86

    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        architecture: ${{ matrix.python-arch }}

    - uses: actions/download-artifact@v6
      with:
        pattern: artifact
        path: ./dist

    - name: Remove extra modules to speed up PowerShell startup module due to slow WinRM issue
      if: startsWith(matrix.os, 'windows')
      shell: bash
      run: |
        rm -rf "/c/Program Files/WindowsPowerShell/Modules/AWSPowerShell"
        rm -rf "/c/Program Files/WindowsPowerShell/Modules/DockerMsftProvider"
        rm -rf "/c/Program Files/WindowsPowerShell/Modules/ImageHelpers"
        rm -rf "/c/Program Files/WindowsPowerShell/Modules/MarkdownPS"
        rm -rf "/c/Program Files/WindowsPowerShell/Modules/Microsoft."*
        rm -rf "/c/Program Files/WindowsPowerShell/Modules/PSWindowsUpdate"
        rm -rf "/c/Program Files/WindowsPowerShell/Modules/SqlServer"
        rm -rf "/c/Program Files/WindowsPowerShell/Modules/VSSetup"
        rm -rf "/c/Modules/"*

        ls -al "/c/Program Files/WindowsPowerShell/Modules"

    - name: Extract OS name
      shell: bash
      run: |
        set -ex
        OS=$( echo '${{ matrix.os }}' | tr '-' ' ' | awk '{print $1}' )
        echo "OS=${OS}" >> $GITHUB_ENV

    - name: Test
      shell: bash
      run: |
        if [ "$(expr substr $(uname -s) 1 5)" == "MINGW" ]; then
            build_helpers/run-ci.sh
        else
            sudo --preserve-env --preserve-env=PATH build_helpers/run-ci.sh
        fi
      env:
        PYTEST_ADDOPTS: --color=yes

    - name: Upload Test Results
      if: always()
      uses: actions/upload-artifact@v5
      with:
        name: Unit Test Results (${{ matrix.os }} ${{ matrix.python-version }} ${{ matrix.python-arch }})
        path: ./junit/test-results.xml

    - name: Upload Coverage Results
      if: always() && !startsWith(github.ref, 'refs/tags/v')
      uses: actions/upload-artifact@v5
      with:
        name: Coverage Results (${{ matrix.os }} ${{ matrix.python-version }} ${{ matrix.python-arch }})
        path: ./coverage.xml

    - name: Upload Coverage to codecov
      if: always()
      uses: codecov/codecov-action@v5
      with:
        files: ./coverage.xml
        flags: ${{ env.OS }},py${{ matrix.python-version }},${{ matrix.python-arch }}
        token: ${{ secrets.CODECOV_TOKEN }}

  publish:
    name: publish
    needs:
    - test
    runs-on: ubuntu-latest
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write

    steps:
    - uses: actions/download-artifact@v6
      with:
        pattern: artifact
        path: ./dist

    - name: Publish
      if: startsWith(github.ref, 'refs/tags/v')
      uses: pypa/gh-action-pypi-publish@release/v1
